@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

body, html {
  background-color: lightgrey;
  
}

header {
  background-color: gray;
}

header > h1 {
  padding: 10px;
  color: white;
  text-align: center;
}

menu {
  display: block;  
}

menu > ul {
  list-style-type: none;
  
}


menu > ul > li > a {
  display: block;
  border-top: 2px solid rgb(122, 122, 122);  
  background-color: rgb(73, 73, 73);
  text-align: center;
  padding: 10px;
  color: white;
  text-decoration: none;
}

menu > ul > li > a:hover {
  background-color: rgb(122, 122, 122);
}

main {
  width: 90vw;
  margin: auto;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  margin-top: 10px;
}

article h2 {  
  text-align: center;
  padding: 10px;
}

article p {
  text-align: justify;
  line-height: 1.3em;
  text-indent: 20px;
  margin-bottom: 10px;
}