@charset "UTF-8";

body{
  background-color: lightgoldenrodyellow;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
h1{
  color: darkgoldenrod;
  background-color: rgb(90, 211, 34);
}
h2{
  color: rgb(245, 10, 10);
}
p{
  text-align: justify;
}
